.random {
    width: 100%;
    .vtc {
        height: 250px;
        font-size: 12px;
        @media (min-width: 699px) {
            height: 320px;
        }
    }
    .labels {
        stroke: rgba(0, 0, 0, 0.05);
    }
    .active-line {
        stroke: rgba(0, 0, 0, 0.2);
    }
    .point {
        stroke-width: 2;
        transition: stroke-width 0.2s;
    }
    .point.is-active {
        stroke-width: 5;
    }
    .curve1 {
        .stroke {
            stroke: #fbac91;
            stroke-width: 2;
        }
        .fill {
            fill: #fbac91;
            opacity: 0.05;
        }
        .point {
            fill: #fbac91;
            stroke: #fbac91;
        }
    }
    .curve2 {
        .stroke {
            stroke: #fbe1b6;
            stroke-width: 2;
        }
        .point {
            fill: #fbe1b6;
            stroke: #fbe1b6;
        }
    }

    .tooltip {
        &:not(.is-active) {
            display: none;
        }
        border-radius: 10px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        pointer-events: none;
        &-data {
            display: flex-col;
            &-item {
                display: flex;
                align-items: center;
                &:not(:first-child) {
                    // margin-left: 20px;
                }
                &:before {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                    border-radius: 10px;
                }
                &--1:before {
                    background: #fbac91;
                }
                &--2:before {
                    background: #fbe1b6;
                }
            }
        }
    }
}
